# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
dist/
build/
.eggs/

# Environments
.env
.venv
venv/
env/
conda-meta/
.conda/

# OS/Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs & artifacts
*.log
logs/
*.bin
*.txt

# Data you don’t want in repo (if any)
# data/secret_*.*
