# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
dist/
build/
.eggs/

# Environments
.env
.venv
venv/
env/
conda-meta/
.conda/

# OS/Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs & artifacts
*.log
*.bin
*.txt
.coverage

# Configs
config.toml
lab_file_old.toml
lab_file.sample.toml

# docs
*.dxf~
*#*.dxf

# development
sandbox/
test_dacfiles/
test_xcelftp/
tests/

# Data you don’t want in repo (if any)
# data/secret_*.*
